/*prefix*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Circular';
    box-sizing: border-box;
}
.fp{
    background-color: #273244;
}
/*set the new font to the website*/
@font-face {
    font-family: 'Circular';
    src: url(/fonts/circular-std-medium-500.ttf);
}
/*set the button transparent*/
.btn-transparent{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/*first sect*/
.first-part{
    background-image: url(/img/asset-background.jpg);
    background-size: 50% 100% ;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 900px;
}
/*header*/
.hdr{
    display: flex;
    position: relative;
    z-index: 1;
}
.btn-idx{
position: absolute;
left: 10%;
top: 30px;
}
.btns-hdr{
    position: absolute;
    right: 10%;
    top: 30px;
}
.btns-hdr button{
    margin-left: 20px;
}
/*we-build section*/
.we-build{
    text-align: justify;
    margin-top: 20%;
    margin-left: 10%;
    z-index: 1;
}
.we-build p{
    margin-top: 10px;
    width: 50%;
    color: #8a909a;
}
.we-build-btn{
    margin-top: 3%;
}
.lrn-btn{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-inline: 2%;
    background-color: transparent;
    border: solid 1px #8a909a;
    cursor: pointer;
}
.OurBtn{
    border: solid 1px #3871ff;
    border-radius: 3px;
    background-color: #3871ff;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-inline:3%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    white-space: pre;
    color: white;
    cursor: pointer;
}
/*our services section*/
.our-services{
    text-align: center;
}
.our-services p{
    margin-top:2%;
    position: absolute;
    left: 30%;
    top: 78%;
    width: 38%;
}
.our-services h3{
    position: absolute;
    left: 30%;
    top: 75%;
    width: 38%;
}
/*containers*/
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 18%;
    max-width: 18%;
    background-color: #ffff;
    margin-left: 20px;
    height: 300px;
    top: -15%;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.col h5{
    margin-top: 80px;
}
.col p{
    margin-top: 20px;
    font-size: 13px;
    color: #a7a7a7;
}
.col button{
    margin-top: 15px;
    background-color: transparent;
    border: solid 2px #d7d7d7;
    padding: 5px;
    cursor: pointer;
    color: #8a909a;
}
.container{
    margin-left: 20%;
}
.second-part{
    display: flex;
    background-color: #3871ff;
    height: 800px;
}
.cutting-edge{
    position:absolute;
    margin-top: 25%;
    width: 33%;
    margin-left: 10%;
}
.cutting-edge h2{
    margin-bottom: 6%;
    color: white;
}
.cutting-edge p{
    color: white;
}